/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #000;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #ccc;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #444;
  border: 1px solid #444;
}

@font-face {
  font-family:"WalkwaySB";
  src: url("../fonts/walkway-semibold.ttf")
}

@font-face {
  font-family:"WalkwayB";
  src: url("../fonts/walkway-bold.ttf")
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
}
body {
  color: #000;
  text-align: center;
  //text-shadow: 0 1px 1px rgba(0,0,0,.5);
  font-family: "WalkwaySB", sans-serif;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  /*-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  text-shadow: none;
  margin-right: auto;
  margin-left: auto;
}

.colorgraph {
  background: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4) repeat scroll 0 0 #c4e17f;
  border-radius: 5px;
  border-top: 0 none;
  height: 5px;
}

.register-form {
  width: 100%;
  margin: 20px 0 0 0;
}

/* Padding for spacing */
.inner {
  padding: 10px 30px;
}

.main-container {
  margin: 0 0 50px;

}

/*
 * Header
 */
.logo {
  margin: 22px 0 10px;
}

.logo-canvas {
  float: left;
  margin: -20px 8px -20px 0;
}

.masthead-brand {
  font-family: "WalkwayB", sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0 0 10px;
  display: inline-block;
}

nav {
  display: inline-block;
}

.masthead-nav {
  float: right;
}

.loginform {
  margin: 60px;
}

.error {
  color: #b92c28;
}

.loginform div.row {
  margin: 0 80px 25px 80px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  color: #c70361;
  border-bottom-color: #c70361;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #000;
  border-bottom-color: #000;
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.welcome-text {
  float: right;
  margin: -6px 0 -6px;
}

.welcome-text {
  float: right;
  margin: -6px 0 -6px;
}

.welcome-text .menu-user {
  padding: 0 5px 0;
}

.welcome-text .cart-top a {
  color: #C70361;
  font-weight: bold;
}

/*
 * Footer
 */

.mastfoot {
  color: #333; /* IE8 proofing */
  text-shadow: none;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .logo {
    float: left;
  }
  .masthead {
    position: relative;
    top: 0;
  }
  .mastfoot {
    //position: fixed;
    bottom: 0;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 800px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 800px;
  }
}

.container{
  #map-outer {  height: 440px; 
                padding: 20px; 
                border: 2px solid #CCC; 
                margin-bottom: 20px; 
                background-color:#FFF }
  #map-container { height: 400px }
}

.list-product {
  float: left;
}

.list-product img {
  height: 300px;
  overflow: hidden;
}

.product-desc ul {
  margin: 0;
  padding: 0;
}

.product-desc .product-title {
  font-size: 22px;
  font-weight: bold;
  color: #C70361;
  margin: 0 0 6px;
}

.product-desc li {
  float: left;
  text-align: left;
  clear: left;
  padding: 0 0 5px;
}

.product-desc .shortDesc {
  list-style: none;
  font-size: 15px;
  font-weight: bold;
}

#shipEligibilityBullet {
  font-size: 11px;
  list-style-type: none;
}

.product-size {
  clear: left;
  font-size: 18px;
  margin: 0;
  padding: 0;
  //border: 1px #CCC solid;
}

.list-product img {
  height: 266px;
  overflow: hidden;
  border: 1px #CCC solid;
}

.list-product:hover {
  text-decoration: none;
}

.list-product:hover img {
  //margin: 0 -2px 0;
  //border: 4px #B65B80 solid;
}

.list-product {
  padding: 0;
}

.list-product:hover .product-name {
  color: #923158;
  font-weight: bold;
}

.list-product .product-name {
  box-shadow: 0 16px 24px -16px #B65B80 inset;
  padding: 8px;
  height: 80px;
}

.list-image {
  height: 500px;
}

.product-desc ul {
  margin: 0;
  padding: 0;
}

.product-desc .product-title {
  font-size: 22px;
  font-weight: bold;
  color: #C70361;
  margin: 0 0 6px;
}

.product-desc li {
  float: left;
  text-align: left;
  clear: left;
  padding: 0 0 5px;
}

.product-desc .shortDesc {
  list-style: none;
  font-size: 15px;
  font-weight: bold;
}

#shipEligibilityBullet {
  font-size: 11px;
  list-style-type: none;
}

.product-size {
  clear: left;
  margin: 0 0 8px;
}

.quantity-text {
  margin: 20px 0 4px;
  font-size: 22px;
}

.product-price {
  margin: 0 0 20px;
  color: #006dcc;
  font-size: 20px;
  font-weight: bold;
}

.checkout {
  margin: 40px 0 0;
}

.checkout .checkout-img-container {
  margin: 0;
  padding: 0;
}

.checkout .checkout-img {
  height: 60px;
  overflow: hidden;
}

.checkout .cart-item,.order-confirm .cart-item {
  margin: 10px 0 10px 0;
  padding: 0 0 10px;
  border-bottom: 1px #6D1237 dotted;
}

.checkout .price {
  font-size: 16px;
  font-weight: bold;
  padding: 0;
}

.checkout .remove {
  margin: 6px 0 0;
  padding: 0;
  font-size: 10px;
}

.checkout .remove a:hover {
  text-decoration: none;
}

.checkout .total {
  font-size: 22px;
}

.checkout .total .price {
  font-size: 22px;
  font-weight: bold;
}

.order .order-input {
  margin: 4px 0;
  padding: 0 2px;
}

.order .order-text {
  margin: 8px 0 0;
  padding: 0 2px;
  text-align: left;
}

.order-confirm .order-detail {
  margin: 26px 0 0;
}

.order .text-success {
  margin: 10px 0;
}

.order-detail .address {
  margin: 34px 0 0;
  
}

.order-detail .order-total {
  margin: 26px 0 0;
  font-size: 22px;
}

.home-wrapper {
  margin: 40px 0 0;
}

.home-wrapper .item {
  padding: 20px;
}

.no-pad {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.footer {
  
}

.footer-text {
  font-size: 12px;
  margin: 10px 0 0;
}

.footer-menu a {
  color: #B65B80;
  font-weight: bold;
  border-right: 1px #B65B80 solid;
}

.footer-menu a.last {
  border: none;
}

.job-list {
  margin: 20px 0 0;
}

.job-list thead tr {
  font-weight: bold;
  font-size: 14px;
}

.job-description {
  float: left;
  text-align: left;
  line-height: 1.2em;
  margin-top: 20px;
}

.job-text {
  float: left;
  font-family:"WalkwayB";
  font-size: 14px;
  clear: left;
}

.job-apply {
  clear: left;
  margin: 6px 0 0;
}

.job-apply a {
  font-size: 18px;
}

.job-applicant {
  text-align: left;
}

.job-row {
  margin: 8px 0 0 0;
  padding: 0;
}

.sex-row {
  clear: left;
  margin: 0;
  padding: 16px 0;
}

.job-submit {
  font-size: 18px;
}
